<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <style>
        .my-transparent-button {

            background-color: transparent !important;
            background-image: noqne !important;
            border-color: red;
            border: none;       
            /* color: #FFFFFF; */
        }
        .card{
            border-radius: 40px;
        } 
        .col{
            border-style : solid;
            border-width :3px 3px 3px 3px;
            border-radius : 40px
        }

        
    </style>
    <script>
        let login_check=0

        $(document).ready(function () {
            fetch("http://openapi.seoul.go.kr:8088/4a7869566f73656138317157546a58/json/SeoulLibraryBookRentNumInfo/1/20/")
            .then(res => res.json()).then(data => {
                rows= data['SeoulLibraryBookRentNumInfo']['row']
                rows.forEach((a)=>{
                    let title = a['TITLE']
                    let author = a['AUTHOR']
                    let publisher = a['PUBLISHER']
                    let publisher_year = a['PUBLISHER_YEAR']

                    console.log(title,author,publisher,publisher_year)
                    temp_html = ``
                    temp_html=
                    `
                    <button class = my-transparent-button onclick="need_login()">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">${title}</h5>
                                        <p class="card-text">${author}</p>
                                        <p>${publisher}</p>
                                        <p >${publisher_year}</p>
                                    </div>
                                </div>
                            </div>
                        </button>
                    `
                    $('#cards').append(temp_html)
                })

            })
        })
        function login() {
                $.ajax({
                    type: "POST",
                    url: "/login",
                    data: {id_give: $('#id').val(), pw_give: $('#pw').val()},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            $.cookie('mytoken', response['token']);
                            alert('로그인 완료!')
                            location.href="/main_login_success"
                        } else {
                            // 로그인이 안되면 에러메시지를 띄웁니다.
                            alert(response['msg'])
                        }
                    }
                })
            }
        function need_login(){
            alert("컨텐츠 접근을 위해 로그인이 필요합니다.")
        } 
    </script>

</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Book Review Platform</a>
            <div class="d-flex">
            <input class="form-control me-2" type="text" id="id" placeholder="ID" aria-label="Search">
            <input class="form-control me-2" type="text" id="pw" placeholder="PW" aria-label="Search">
            <button class="btn btn-outline-success" onclick= "login()" style="margin:0px 10px 0px 10px;" type="submit">Login</button>
            <button class="btn btn-outline-success" onclick="location.href='join'" id="join" type="submit">Join</button>
            </div>
        </div>
    </nav>

    <div class="mycards">
        <div id = "cards" class="row row-cols-1 row-cols-md-4 g-4">
        </div>
    </div>
</body>

</html>