<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>



    <script>
        let login_check=0

        $(document).ready(function () {
            fetch("http://spartacodingclub.shop/sparta_api/weather/seoul").then(res => res.json()).then(data => {
                //console.log(data)
                $('#temp').text(`${data['temp']}`)
            })
            
            fetch("http://openapi.seoul.go.kr:8088/4a7869566f73656138317157546a58/json/SeoulLibraryBookRentNumInfo/1/20/")
            .then(res => res.json()).then(data => {
                rows= data['SeoulLibraryBookRentNumInfo']['row']
                rows.forEach((a)=>{
                    let title = a['TITLE']
                    let author = a['AUTHOR']
                    let publisher = a['PUBLISHER']
                    let publisher_year = a['PUBLISHER_YEAR']

                    console.log(title,author,publisher,publisher_year)
                    temp_html = ``
                    temp_html=
                    `
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">${title}</h5>
                                    <p class="card-text">${author}</p>
                                    <p>${publisher}</p>
                                    <p >${publisher_year}</p>
                                </div>
                            </div>
                        </div>
                    `
                    $('#cards').append(temp_html)
                })

            })
                //     let temp_html =``
                    
                //     temp_html=`            
                //         <div class="col">
                //             <div class="card">
                //                 <img src="${image}"
                //                     class="card-img-top" alt="...">
                //                 <div class="card-body">
                //                     <h5 class="card-title">${title}</h5>
                //                     <p class="card-text">${desc}</p>
                //                     <p>${star_image}</p>
                //                     <p class="mycomment">${comment}</p>
                //                 </div>
                //             </div>
                //         </div>
                //     `
                //     $("#cards").append(temp_html)
        })
        function login(){
            let id =$("#id").val()
            let pw = $("#pw").val()           
            let formData = new FormData();

            formData.append("id_give", id);
            formData.append("pw_give", pw);

            fetch('/login', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                if(data["msg"]==0){
                    alert("로그인 실패");    
                }
                else{
                    alert("로그인 성공");    
                }
                
            });
        }

 
    </script>

</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Book Review Platform</a>
            <div class="d-flex">
            <input class="form-control me-2" type="text" id="id" placeholder="ID" aria-label="Search">
            <input class="form-control me-2" type="text" id="pw" placeholder="PW" aria-label="Search">
            <button class="btn btn-outline-success" onclick= "login()" style="margin:0px 10px 0px 10px;" type="submit">Login</button>
            <a href="./join.html"><button class="btn btn-outline-success"  type="submit">Join</button></a>
            </div>
        </div>
    </nav>

    <div class="mycards">
        <div id = "cards" class="row row-cols-1 row-cols-md-4 g-4">
            <!-- <div class="col">
                <div class="card">
                    <img src="https://movie-phinf.pstatic.net/20210728_221/1627440327667GyoYj_JPEG/movie_image.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">영화 제목이 들어갑니다.</h5>
                        <p class="card-text">영화 코멘트가 들어갑니다</p>
                        <p class="mycomment">여기에 나의 의견을 쓰면 되겠죠</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</body>

</html>